/* Estilos gerais */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 0;
    color: #000000;
    background-color: #f4f4f4;
    padding-top: 0px;
}

/* Cabeçalho */
.navbar {
    background: #000000;
    color: #fff;
}

.navbar a {
    color: #fff;
}

/* Botões */
.btn {
    display: inline-block;
    margin: 0.3rem 0.6rem;
    background: #333;
    color: #fff;
    padding: 0.6rem 1.3rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}

/* Cartas de produtos */
.card {
    background: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0.3rem;
    margin: 1rem;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-bottom: 1px solid #efefef;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #aaa;
}
